# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Only apps should have lockfiles
yarn.lock
package-lock.json
npm-shrinkwrap.json

# Logs
logs
*.log